<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>

<div th:if="${book.getOwner() != null}">
    <p th:text="${'Book is taken by ' + book.getOwner().getName()}">VALUE</p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book"/>
    </form>
</div>

<div th:if="${book.getOwner() == null}">
    <p>Book isn't taken. Who assign the book to?</p>
    <form th:method="PATCH" th:action="@{/books/{bookId}/new-owner(bookId=${book.getId()})}">
        <label for="person">Choose person:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Assign a book" />

    </form>
</div>

<hr>

<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>